@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h3>
    ViewData  is = @ViewData["var1"];
</h3>
<h3>
    ViewBag  is = @ViewBag.var2;
</h3>
<h3>
    TempData  is = @TempData["var3"];
</h3>
<h3>
    Session  is = @Session["var1"];
</h3>